<div class="container-fluid text-center">
  <h2 class="my-3">Select a breed below!</h2>
  <div class="row justify-content-center mb-5">
      <ul class="list-group list-group-flush col-6 breed-list-container px-0">
        <li
          class="list-group-item breed-list-item py-3"
          *ngFor="let breed of breedList"
          (click)="navigateToBreedDetail(breed)"
        >
          <div class="breed-name">
            {{ breed }}
          </div>
        </li>
      </ul>
  </div>
</div>
